html{
    display: flex;

    text-align : center;
}
body{
    background-color: whitesmoke;

 width: 100vh;
}

h1{
    position: absolute;
    border: 2px dotted orange;
    flex-wrap: wrap;
    width: 100vh;

}
main{
    width: 500px;
    height: 700px;
display: flex;
flex-wrap: wrap;
position:relative;
top:150px;
}
main> div{
    border: 3px solid white;
    width: 200px;
    height: 300px;
    justify-content: center;
    align-items: space-evenly;
        
}
span{
    display: block;
}

 main > div:first-child {
            background-color: tomato;
        }

main >div:nth-child(2) {
            background-color: teal;
        }

main>div:nth-child(3){
            background-color: burlywood;
        }

 main>div:nth-child(4){
            background-color: thistle;
        
        }

div div{
    background-color: white;
    position:relative;
top:10px;
height: 80px;
}

